.container#content {
  margin-top: 60px;
}

body {
  background-color: $light-gray;
}

a {
  color: #0056b3;

  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;

  &:hover {
    color: #007bff;
  }
}

ul {
  list-style: none;
  padding: 0;
}